body {
    background-color: skyblue;
    font: 400 1.2em Arial;
    text-align: center;
    color: darkslateblue;
}

section {
    background-color: white;
    border-radius: 12px;
    height: 50px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.226);
}

footer {
    font-style: italic;
}