body {
    font: 400 1.2em Arial;
    text-align: center;
    color: white;
}

section {
    background-color: white;
    color: darkslateblue;
    border-radius: 12px;
    padding: 16px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.226);
}

div {
    margin: 16px;
}

footer {
    font-style: italic;
}
